# this is based on official fastapi gitignore
# Ref: https://raw.githubusercontent.com/tiangolo/fastapi/master/.gitignore

# sqlite db file
sqlite.db

# below is from template

.idea
.ipynb_checkpoints
.mypy_cache

# for VS Code
# Include application specific: launch.json, tasks.json, etc.
# Exclude user specific: settings.json, extensions.json
.vscode/settings.json
.vscode/extensions.json

__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build
venv
docs.zip
archive.zip

# vim temporary files
*~
.*.sw?

# Mac OS temporary files
.DS_Store